/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/


body {
    background: url(../bg/bg.jpg);
    background-size: 400px;
}

.title {
    text-align: center;
    font-size: 80px;
    margin-top: 3px;
}

.line {
    margin-top: 9px;
    height: 3px;
    background-color: rgb(220, 96, 228);
}


.header {
    margin-top: 10px;
    font-size: 60px;
    padding: 10px;
    text-align: center;
    text-align: center;
}

.input {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#arrow {
    display: inline-block;
    height: 90px;
    background-color: rgb(0,210,106);
    border: solid rgba(0, 0, 44, 0.558) 2px;
    border-radius: 0 2px 2px 0;
    border-left: 0;
    text-align: center;
    font-size: 65px;
    color: #ffff;
    width: 90px;
    cursor: pointer;
    
}

#letter {
    height: 90px;
    width: 110px;
    font-size: 85px;
    background: none;
    text-align: center;
    border: solid 2px rgba(0, 0, 44, 0.558);
}

.hidden_word {
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    padding: 2px 10px;
    font-size: 40px;
}

.attempts_styile {
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    padding: 2px;
    font-size: 40px;
}

.used_letters_text {
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    padding: 2px;
    font-size: 40px;
}

#congratulations {
    text-align: center;
    margin: 0 auto;
    margin-top: 5px;
    padding: 2px;
    font-size: 80px;
    color: red;
}

.restart_position{
    display: flex;
    justify-content: center;
}
 #restart {
    margin-top: 10px;
    height: 90px;
    cursor: pointer;
}